name: Generate Cyberpunk Music Wave

on:
  schedule:
    - cron: "0 0 * * *"   # update harian (opsional)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Generate SVG
        run: node generate.js

      - name: Commit & Push SVG
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add output.svg
          git commit -m "update cyberpunk music wave" || echo "No changes"
          git push
